
<header id="topHeader" class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="/blog/index"><h1>A & M</h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul id="navbar" class="nav navbar-nav menu_nav justify-content-center">
                        <li class="nav-item active"><a class="nav-link" href="/blog/index">Home</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog/album">
                            @*<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>*@
                            Album
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/blog/category">Category</a>
                        <li class="nav-item"><a class="nav-link" href="/blog/contact">Contact</a></li>
                    </ul>
                    @Html.ActionLink("Create Article", "create", "blog", null, new{ @class ="blog__slide__label"})
                    <ul class="nav navbar-nav navbar-right navbar-social">
                        <li><a href="https://www.facebook.com/" target="_blank"><i class="ti-facebook"></i></a></li>
                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                        <li><a href="https://www.instagram.com/andychung0214/?hl=zh-tw" target="_blank"><i class="ti-instagram"></i></a></li>
                        <li><a href="#"><i class="ti-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<script type="text/javascript">
    $(document).ready(function () {
        var pageName = window.location.pathname;
        var newPageName = pageName;

        if (pageName.indexOf('/') == 0) {
            newPageName = pageName.substring(1, pageName.length);

            $.each($('#navbar').find('li'), function () {
                var hrefVal = $(this).find('a').attr('href');
                if (hrefVal == undefined) {
                    return;
                }

                if (hrefVal.indexOf(newPageName) >= 0) {
                    $(this).addClass('active').siblings().removeClass('active');
                }

            });
        }
    });
</script>