@model CrownBlog.Models.ViewModel.PhotoAlbumModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

@section Css{
    <link rel="stylesheet" href="~/css/color-box/colorbox.css" />
}


@section HeaderScripts{
    <script type="text/javascript" src="~/js/color-box/jquery.colorbox.js"></script>
}

<partial name="../Shared/_Header.cshtml" />

<main id="main" class="site-main">
    <partial name="../Shared/_Banner.cshtml" />

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                @if (Model.AlbumList != null && Model.AlbumList.Count > 0)
                {
                    @foreach (var item in Model.AlbumList)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top"
                                     data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" 
                                     alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                                     src="@item.GalleryUrl" />
                                <div class="card-body">
                                    <p class="card-text">@item.Title</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="/blog/album/details/@ViewBag.albumId?albumTitle=@item.Title.Replace("&", "and")">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>

</main>
